body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    

}

.header {
    background-color: #111720;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    color: #FAC650;
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
    color: #DADDDC;
    flex-grow: 1;
}


.score-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
    gap: 20px;
}

.weapon-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.sign {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 7px;
    background-color: #393E46;
}

.footer {
    background-color: #222831;
    color: #DADDDC;
    display: flex;
    justify-content: center;
}

.instructions {
    font-size: 32px;
}

.end-game-description {
    font-size: 20px;
}

.scores-text {
    font-size: 22px;
    font-weight: bold;
}

.show-selection {
    font-size: 80px;
    margin: 0;
}

button:hover {
    background-color: #4C4F56; /* New color on hover */
  }